__pycache__
.env
.learn
../images/raw/train/*.jpg
../images/raw/test1/*.jpg
../images/raw/train
../images/raw/test1
images
../images
../test1
../train
test1
train
*.jpg
raw
.venv
images/raw
app.py
project/app.py
../project/app.py
../project/explore.ipynb
requirements.txt
images/
.devcontainer